*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 0.5rem;
    background-color: rgb(186, 186, 240);
}
nav{
    border: 1px solid black;
    border-radius: 2rem 2rem;
    margin: 1.5rem auto;
    max-width: 40%;
    font-size: 2rem;
    line-height: 5rem;
}
h2{
    background-color: rgb(236, 248, 73);
    border-radius: 2rem 2rem 0 0;
}
ul{
    list-style-position: inside;
    background-color: rgb(243, 232, 236);
    border-radius: 0 0 2rem 2rem;
}
li{
    border-top: 1px solid black;
    list-style-type: none;
}
li a,li a:visited{
    text-decoration: none;
    color:black;
    display: block;
}
li a:hover,li a:focus{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}

